.footer {
  display: flex;
  justify-content: space-between;

  padding: 25px 8vw;

  background: var(--primary);
  color: rgba(255, 255, 255, 0.6);

  font-size: 0.65rem;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}
